<% @tasks.each do |task| %>
<h4><ul><%= link_to task.title, task_path(task) %></h4>
  <%= task.description %></ul>
    <ul><% task.tags.each do |tag| %>
      <%= link_to tag.tag, tag_path(tag) %>
    <% end %></ul>
<% end %>
